In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt

In [2]:
database_Peoples = pd.read_csv('people-100.csv')
print(database_Peoples.head().to_string())
print("\n")
print(database_Peoples.info())
print("\n")
print(database_Peoples.shape)

   Index          User Id First Name Last Name     Sex                       Email                   Phone Date of birth           Job Title
0      1  88F7B33d2bcf9f5     Shelby   Terrell    Male        elijah57@example.net  001-084-906-7849x73518    1945-10-26     Games developer
1      2  f90cD3E76f1A9b9    Phillip   Summers  Female       bethany14@example.com       214.112.6044x4913    1910-03-24      Phytotherapist
2      3  DbeAb8CcdfeFC2c   Kristine    Travis    Male       bthompson@example.com            277.609.7938    1992-07-02           Homeopath
3      4  A31Bee3c201ef58    Yesenia  Martinez    Male   kaitlinkaiser@example.com            584.094.6111    2017-08-03   Market researcher
4      5  1bA7A3dc874da3c       Lori      Todd    Male  buchananmanuel@example.net       689-207-3558x7233    1938-12-01  Veterinary surgeon


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          100 non-null    int64
 1   User Id        100 non-null    object
 2   First Name     100 non-null    object
 3   Last Name      100 non-null    object
 4   Sex            100 non-null    object
 5   Email          100 non-null    object
 6   Phone          100 non-null    object
 7   Date of birth  100 non-null    object
 8   Job Title      100 non-null    object
dtypes: int64(1), object(8)
memory usage: 7.2+ KB
None


(100, 9)

In [3]:
#Identify and remove exact/partial duplicate rows
DuplicateRowsum = database_Peoples.duplicated().sum()
print("Number of duplicated rows: ",DuplicateRowsum )
print("The Duplicated Rows are: \n", database_Peoples[database_Peoples.duplicated()])
print("\n")
database_withDuplicatedRowsGone = database_Peoples.drop_duplicates()
print("The Database Without the Duplicaed Rows Here \n ", database_withDuplicatedRowsGone.head().to_string())
print("\n")



PartialCopyRowSum = database_Peoples.duplicated(subset= database_Peoples.columns.difference(['Index']) , keep="first").sum()
print("The No People Database Partial Duplicates Rows are: ", PartialCopyRowSum)
print("\n")

PeopleNoduplicate = database_Peoples.drop_duplicates(subset = database_Peoples.columns.difference(['Index']) , keep = 'first')
print(PeopleNoduplicate.head().to_string())

Number of duplicated rows:  0
The Duplicated Rows are:
 Empty DataFrame
Columns: [Index, User Id, First Name, Last Name, Sex, Email, Phone, Date of birth, Job Title]
Index: []


The Database Without the Duplicaed Rows Here
     Index          User Id First Name Last Name     Sex                       Email                   Phone Date of birth           Job Title
0      1  88F7B33d2bcf9f5     Shelby   Terrell    Male        elijah57@example.net  001-084-906-7849x73518    1945-10-26     Games developer
1      2  f90cD3E76f1A9b9    Phillip   Summers  Female       bethany14@example.com       214.112.6044x4913    1910-03-24      Phytotherapist
2      3  DbeAb8CcdfeFC2c   Kristine    Travis    Male       bthompson@example.com            277.609.7938    1992-07-02           Homeopath
3      4  A31Bee3c201ef58    Yesenia  Martinez    Male   kaitlinkaiser@example.com            584.094.6111    2017-08-03   Market researcher
4      5  1bA7A3dc874da3c       Lori      Todd    Male  buchananmanuel@example.net       689-207-3558x7233    1938-12-01  Veterinary surgeon


The No People Database Partial Duplicates Rows are:  0


   Index          User Id First Name Last Name     Sex                       Email                   Phone Date of birth           Job Title
0      1  88F7B33d2bcf9f5     Shelby   Terrell    Male        elijah57@example.net  001-084-906-7849x73518    1945-10-26     Games developer
1      2  f90cD3E76f1A9b9    Phillip   Summers  Female       bethany14@example.com       214.112.6044x4913    1910-03-24      Phytotherapist
2      3  DbeAb8CcdfeFC2c   Kristine    Travis    Male       bthompson@example.com            277.609.7938    1992-07-02           Homeopath
3      4  A31Bee3c201ef58    Yesenia  Martinez    Male   kaitlinkaiser@example.com            584.094.6111    2017-08-03   Market researcher
4      5  1bA7A3dc874da3c       Lori      Todd    Male  buchananmanuel@example.net       689-207-3558x7233    1938-12-01  Veterinary surgeon

In [4]:


Cross_Columns_people = ['First Name', 'Last Name', 'Email', 'Job Title']

paritalDuplicateRows = []

for index, row in database_Peoples.iterrows():
    for i in range(len(Cross_Columns_people)):
        for j in range(i+1, len(Cross_Columns_people)):
            datacal1 = str(row[Cross_Columns_people[i]]).lower()
            datacal2 = str(row[Cross_Columns_people[j]]).lower()
            if datacal1 and datacal1 != "nan" and datacal1 in datacal2:
                paritalDuplicateRows.append((index, Cross_Columns_people[i], Cross_Columns_people[j], row[Cross_Columns_people[i]], row[Cross_Columns_people[j]]))

print("Rows with cross-column redundancy:")
for r in paritalDuplicateRows:
    print(r)


print("So we are observing that there is no Cross Column Redundancy in the People Dataset \n")

Rows with cross-column redundancy:
So we are observing that there is no Cross Column Redundancy in the People Dataset

In [5]:
# Rename columns

print(database_Peoples.info())


database_Peoples = database_Peoples.rename(columns={
    "Index": "PeopleUserIndex",
    "User Id": "PeopleUser_Id",
    "First Name": "PeopleUserFname",
    "Last Name": "PeopleUserLname",
    "Sex": "PeopleUserGender",
    "Email": "PeopleUserEmail",
    "Phone": "PeopleUserPhoneNo",
    "Date of birth": "PeopleUserDob",
    "Job Title": "PeopleUserJobdesc"
})

# Reorder columns
database_Peoples = database_Peoples[[
    "PeopleUserIndex",
    "PeopleUser_Id",
    "PeopleUserFname",
    "PeopleUserLname",
    "PeopleUserGender",
    "PeopleUserEmail",
    "PeopleUserPhoneNo",
    "PeopleUserDob",
    "PeopleUserJobdesc"
]]

print(database_Peoples.head().to_string())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Index          100 non-null    int64
 1   User Id        100 non-null    object
 2   First Name     100 non-null    object
 3   Last Name      100 non-null    object
 4   Sex            100 non-null    object
 5   Email          100 non-null    object
 6   Phone          100 non-null    object
 7   Date of birth  100 non-null    object
 8   Job Title      100 non-null    object
dtypes: int64(1), object(8)
memory usage: 7.2+ KB
None
   PeopleUserIndex    PeopleUser_Id PeopleUserFname PeopleUserLname PeopleUserGender             PeopleUserEmail       PeopleUserPhoneNo PeopleUserDob   PeopleUserJobdesc
0                1  88F7B33d2bcf9f5          Shelby         Terrell             Male        elijah57@example.net  001-084-906-7849x73518    1945-10-26     Games developer
1                2  f90cD3E76f1A9b9         Phillip         Summers           Female       bethany14@example.com       214.112.6044x4913    1910-03-24      Phytotherapist
2                3  DbeAb8CcdfeFC2c        Kristine          Travis             Male       bthompson@example.com            277.609.7938    1992-07-02           Homeopath
3                4  A31Bee3c201ef58         Yesenia        Martinez             Male   kaitlinkaiser@example.com            584.094.6111    2017-08-03   Market researcher
4                5  1bA7A3dc874da3c            Lori            Todd             Male  buchananmanuel@example.net       689-207-3558x7233    1938-12-01  Veterinary surgeon

In [6]:
print("Missing Values in each Column: \n", database_Peoples.isnull().sum())
print("\n")
print("Percentage of Missing Values in each Column: \n", (database_Peoples.isnull().mean()*100))

Missing_Values_Coloums_Dataframe = pd.DataFrame({
    'Missing_Values_Coloums': database_Peoples.isnull().any(),
    'Missing_Values_Count': database_Peoples.isnull().sum(),
    'Missing_ValuesIn_Percentage': (database_Peoples.isnull().sum() / len(database_Peoples)) * 100
})

print(Missing_Values_Coloums_Dataframe.to_string())

Missing Values in each Column:
 PeopleUserIndex      0
PeopleUser_Id        0
PeopleUserFname      0
PeopleUserLname      0
PeopleUserGender     0
PeopleUserEmail      0
PeopleUserPhoneNo    0
PeopleUserDob        0
PeopleUserJobdesc    0
dtype: int64


Percentage of Missing Values in each Column:
 PeopleUserIndex      0.0
PeopleUser_Id        0.0
PeopleUserFname      0.0
PeopleUserLname      0.0
PeopleUserGender     0.0
PeopleUserEmail      0.0
PeopleUserPhoneNo    0.0
PeopleUserDob        0.0
PeopleUserJobdesc    0.0
dtype: float64
                   Missing_Values_Coloums  Missing_Values_Count  Missing_ValuesIn_Percentage
PeopleUserIndex                     False                     0                          0.0
PeopleUser_Id                       False                     0                          0.0
PeopleUserFname                     False                     0                          0.0
PeopleUserLname                     False                     0                          0.0
PeopleUserGender                    False                     0                          0.0
PeopleUserEmail                     False                     0                          0.0
PeopleUserPhoneNo                   False                     0                          0.0
PeopleUserDob                       False                     0                          0.0
PeopleUserJobdesc                   False                     0                          0.0

In [7]:

# Deletion: Drop rows/columns if >70% missing

MissingValuePercentage =  database_Peoples.isna().mean()
Database_After_DropedColoums = database_Peoples.loc[:, MissingValuePercentage <= 0.7]

MissingValuePercentagerow =  database_Peoples.isna().mean(axis=1)
Database_After_DropedRows = database_Peoples.loc[MissingValuePercentagerow <= 0.7, :]

print("The Database After Dropping the Coloums with more than 70% Missing Values are : \n", Database_After_DropedColoums.head().to_string())

The Database After Dropping the Coloums with more than 70% Missing Values are :
    PeopleUserIndex    PeopleUser_Id PeopleUserFname PeopleUserLname PeopleUserGender             PeopleUserEmail       PeopleUserPhoneNo PeopleUserDob   PeopleUserJobdesc
0                1  88F7B33d2bcf9f5          Shelby         Terrell             Male        elijah57@example.net  001-084-906-7849x73518    1945-10-26     Games developer
1                2  f90cD3E76f1A9b9         Phillip         Summers           Female       bethany14@example.com       214.112.6044x4913    1910-03-24      Phytotherapist
2                3  DbeAb8CcdfeFC2c        Kristine          Travis             Male       bthompson@example.com            277.609.7938    1992-07-02           Homeopath
3                4  A31Bee3c201ef58         Yesenia        Martinez             Male   kaitlinkaiser@example.com            584.094.6111    2017-08-03   Market researcher
4                5  1bA7A3dc874da3c            Lori            Todd             Male  buchananmanuel@example.net       689-207-3558x7233    1938-12-01  Veterinary surgeon

In [8]:
def Imputation_Of_Values(database):
    for column in database.columns:
        if np.issubdtype(database[column].dtype, np.number):
            median_value = database[column].median()
            database[column].fillna(median_value , inplace=True)
            print(f"Filled NaN in numeric column '{column}' with Median = {median_value}")
        
        elif database[column].dtype == 'object':
            mode_value = database[column].mode()[0]
            database[column].fillna(mode_value , inplace=True)
            print(f"Filled NaN in categorical column '{column}' with Mode = {mode_value}")
        
        elif np.issubdtype(database[column].dtype, np.datetime64):
            database[column] = database[column].interpolate(method='time')
            print(f"Interpolated missing datetime values in '{column}'")
    
    return database
Database_After_Imputation = Imputation_Of_Values(database_Peoples)
print("The Database After Imputation of Missing Values is : \n", Database_After_Imputation.head().to_string())

Filled NaN in numeric column 'PeopleUserIndex' with Median = 50.5
Filled NaN in categorical column 'PeopleUser_Id' with Mode = 035eff50B9A0F24
Filled NaN in categorical column 'PeopleUserFname' with Mode = Brittney
Filled NaN in categorical column 'PeopleUserLname' with Mode = Andrews
Filled NaN in categorical column 'PeopleUserGender' with Mode = Female
Filled NaN in categorical column 'PeopleUserEmail' with Mode = abbottyvette@example.net
Filled NaN in categorical column 'PeopleUserPhoneNo' with Mode = (034)867-8827x6777
Filled NaN in categorical column 'PeopleUserDob' with Mode = 1908-08-22
Filled NaN in categorical column 'PeopleUserJobdesc' with Mode = Biochemist, clinical
The Database After Imputation of Missing Values is :
    PeopleUserIndex    PeopleUser_Id PeopleUserFname PeopleUserLname PeopleUserGender             PeopleUserEmail       PeopleUserPhoneNo PeopleUserDob   PeopleUserJobdesc
0                1  88F7B33d2bcf9f5          Shelby         Terrell             Male        elijah57@example.net  001-084-906-7849x73518    1945-10-26     Games developer
1                2  f90cD3E76f1A9b9         Phillip         Summers           Female       bethany14@example.com       214.112.6044x4913    1910-03-24      Phytotherapist
2                3  DbeAb8CcdfeFC2c        Kristine          Travis             Male       bthompson@example.com            277.609.7938    1992-07-02           Homeopath
3                4  A31Bee3c201ef58         Yesenia        Martinez             Male   kaitlinkaiser@example.com            584.094.6111    2017-08-03   Market researcher
4                5  1bA7A3dc874da3c            Lori            Todd             Male  buchananmanuel@example.net       689-207-3558x7233    1938-12-01  Veterinary surgeon

C:\Users\Vijay Pranav\AppData\Local\Temp\ipykernel_27460\2851535699.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database[column].fillna(median_value , inplace=True)
C:\Users\Vijay Pranav\AppData\Local\Temp\ipykernel_27460\2851535699.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  database[column].fillna(mode_value , inplace=True)

In [9]:
#- Diagnose missingness patterns (MCAR, MAR, MNAR)

In [10]:
#Convert strings to datetime objects (e.g., "2023-12-01" → datetime64)
print(database_Peoples.dtypes)
print("\n")

print("Taking Copy of the dataframe for safety purposes\n")
CopyPeopleDataframe = database_Peoples.copy()

def StringDateTimeFunc(dataframe, dataframecols):
    for col in dataframecols:
        dataframe[col] = pd.to_datetime(dataframe[col], format='%Y-%m-%d', errors='coerce')
    return dataframe

# use it only on specific columns
CopyPeopleDataframe = StringDateTimeFunc(database_Peoples, ["PeopleUserDob"])

print(CopyPeopleDataframe.head().to_string())
print("\n")
print("Generating the Info of the Dataframe After Converting the PeopleUserDob Column to Datetime Format \n")
print(CopyPeopleDataframe.info())
print("\n")
print(database_Peoples["PeopleUserDob"].dtype)

PeopleUserIndex       int64
PeopleUser_Id        object
PeopleUserFname      object
PeopleUserLname      object
PeopleUserGender     object
PeopleUserEmail      object
PeopleUserPhoneNo    object
PeopleUserDob        object
PeopleUserJobdesc    object
dtype: object


Taking Copy of the dataframe for safety purposes

   PeopleUserIndex    PeopleUser_Id PeopleUserFname PeopleUserLname PeopleUserGender             PeopleUserEmail       PeopleUserPhoneNo PeopleUserDob   PeopleUserJobdesc
0                1  88F7B33d2bcf9f5          Shelby         Terrell             Male        elijah57@example.net  001-084-906-7849x73518    1945-10-26     Games developer
1                2  f90cD3E76f1A9b9         Phillip         Summers           Female       bethany14@example.com       214.112.6044x4913    1910-03-24      Phytotherapist
2                3  DbeAb8CcdfeFC2c        Kristine          Travis             Male       bthompson@example.com            277.609.7938    1992-07-02           Homeopath
3                4  A31Bee3c201ef58         Yesenia        Martinez             Male   kaitlinkaiser@example.com            584.094.6111    2017-08-03   Market researcher
4                5  1bA7A3dc874da3c            Lori            Todd             Male  buchananmanuel@example.net       689-207-3558x7233    1938-12-01  Veterinary surgeon


Generating the Info of the Dataframe After Converting the PeopleUserDob Column to Datetime Format

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   PeopleUserIndex    100 non-null    int64
 1   PeopleUser_Id      100 non-null    object
 2   PeopleUserFname    100 non-null    object
 3   PeopleUserLname    100 non-null    object
 4   PeopleUserGender   100 non-null    object
 5   PeopleUserEmail    100 non-null    object
 6   PeopleUserPhoneNo  100 non-null    object
 7   PeopleUserDob      100 non-null    datetime64[ns]
 8   PeopleUserJobdesc  100 non-null    object
dtypes: datetime64[ns](1), int64(1), object(7)
memory usage: 7.2+ KB
None


datetime64[ns]

In [11]:
# Fix numerical columns trapped as strings (e.g., "1,000" → 1000)

print("Taking Copy of the dataframe for safety purposes\n")
CopyPeopleDataframe = database_Peoples.copy()

print(database_Peoples.dtypes)
print("\n")
def StringCoverisonFunction(DataFrame, ColoumsDataframe):
    for col in ColoumsDataframe:
        peoplcont = []
        for datapeopleinst in DataFrame[col]:
            datapeopleinst = str(datapeopleinst)
            datapeopleinst = datapeopleinst.replace(".", "-").replace(" ", "-")
            if "x" in datapeopleinst:
                datapeopleinst = datapeopleinst.split("x")[0]
            datapeopleinst = datapeopleinst.strip("-")
            peoplcont.append(datapeopleinst.strip())
        DataFrame[col] = peoplcont
    return DataFrame
DatabasePoplefinal = StringCoverisonFunction(database_Peoples, ['PeopleUserPhoneNo'])

print("The Database After Fixing Numerical Columns is : \n", DatabasePoplefinal.head().to_string())

print("\n")

print("Phone numbers after cleaning:\n", DatabasePoplefinal[["PeopleUserPhoneNo"]].head().to_string())
print(DatabasePoplefinal.dtypes)

Taking Copy of the dataframe for safety purposes

PeopleUserIndex               int64
PeopleUser_Id                object
PeopleUserFname              object
PeopleUserLname              object
PeopleUserGender             object
PeopleUserEmail              object
PeopleUserPhoneNo            object
PeopleUserDob        datetime64[ns]
PeopleUserJobdesc            object
dtype: object


The Database After Fixing Numerical Columns is :
    PeopleUserIndex    PeopleUser_Id PeopleUserFname PeopleUserLname PeopleUserGender             PeopleUserEmail PeopleUserPhoneNo PeopleUserDob   PeopleUserJobdesc
0                1  88F7B33d2bcf9f5          Shelby         Terrell             Male        elijah57@example.net  001-084-906-7849    1945-10-26     Games developer
1                2  f90cD3E76f1A9b9         Phillip         Summers           Female       bethany14@example.com      214-112-6044    1910-03-24      Phytotherapist
2                3  DbeAb8CcdfeFC2c        Kristine          Travis             Male       bthompson@example.com      277-609-7938    1992-07-02           Homeopath
3                4  A31Bee3c201ef58         Yesenia        Martinez             Male   kaitlinkaiser@example.com      584-094-6111    2017-08-03   Market researcher
4                5  1bA7A3dc874da3c            Lori            Todd             Male  buchananmanuel@example.net      689-207-3558    1938-12-01  Veterinary surgeon


Phone numbers after cleaning:
   PeopleUserPhoneNo
0  001-084-906-7849
1      214-112-6044
2      277-609-7938
3      584-094-6111
4      689-207-3558
PeopleUserIndex               int64
PeopleUser_Id                object
PeopleUserFname              object
PeopleUserLname              object
PeopleUserGender             object
PeopleUserEmail              object
PeopleUserPhoneNo            object
PeopleUserDob        datetime64[ns]
PeopleUserJobdesc            object
dtype: object

In [12]:
#Standardize categorical encoding
from sklearn.preprocessing import LabelEncoder
def CategoricalEncodeFunc(database, database_coloums):
    peopledfcont = {}

    for col in database_coloums:
        codecont = LabelEncoder()
        database[col] = database[col].astype(str).str.strip().str.lower()

        
        database[col + "_code"] = codecont.fit_transform(database[col])
        peopledfcont[col] = codecont

    return database, peopledfcont

print("Assuming Here the Categorical Columns are : columns=   ['PeopleUserGender', 'PeopleUserJobdesc'] \n")
modifieddataframe,peopledfcont = CategoricalEncodeFunc(database_Peoples,   ['PeopleUserGender', 'PeopleUserJobdesc'])
print("The Database After Standardization of Categorical Columns is : \n", modifieddataframe.head().to_string())

Assuming Here the Categorical Columns are : columns=   ['PeopleUserGender', 'PeopleUserJobdesc']

The Database After Standardization of Categorical Columns is :
    PeopleUserIndex    PeopleUser_Id PeopleUserFname PeopleUserLname PeopleUserGender             PeopleUserEmail PeopleUserPhoneNo PeopleUserDob   PeopleUserJobdesc  PeopleUserGender_code  PeopleUserJobdesc_code
0                1  88F7B33d2bcf9f5          Shelby         Terrell             male        elijah57@example.net  001-084-906-7849    1945-10-26     games developer                      1                      35
1                2  f90cD3E76f1A9b9         Phillip         Summers           female       bethany14@example.com      214-112-6044    1910-03-24      phytotherapist                      0                      62
2                3  DbeAb8CcdfeFC2c        Kristine          Travis             male       bthompson@example.com      277-609-7938    1992-07-02           homeopath                      1                      38
3                4  A31Bee3c201ef58         Yesenia        Martinez             male   kaitlinkaiser@example.com      584-094-6111    2017-08-03   market researcher                      1                      50
4                5  1bA7A3dc874da3c            Lori            Todd             male  buchananmanuel@example.net      689-207-3558    1938-12-01  veterinary surgeon                      1                      87

In [13]:
def TextNormalizeFunc(database,ordcols):
    for col in ordcols:
        database[col] = database[col].astype(str).str.strip().str.lower()
    return database
print("Assuming Here the Text Columns are : ['PeopleUserFname', 'PeopleUserLname', 'PeopleUserGender', 'PeopleUserEmail', 'PeopleUserJobdesc'] \n")
peopliseframe = TextNormalizeFunc(database_Peoples,['PeopleUserFname', 'PeopleUserLname', 'PeopleUserGender', 'PeopleUserEmail', 'PeopleUserJobdesc'])
print("The Database After Normalization of Text Columns is : \n", peopliseframe.head().to_string())

Assuming Here the Text Columns are : ['PeopleUserFname', 'PeopleUserLname', 'PeopleUserGender', 'PeopleUserEmail', 'PeopleUserJobdesc']

The Database After Normalization of Text Columns is :
    PeopleUserIndex    PeopleUser_Id PeopleUserFname PeopleUserLname PeopleUserGender             PeopleUserEmail PeopleUserPhoneNo PeopleUserDob   PeopleUserJobdesc  PeopleUserGender_code  PeopleUserJobdesc_code
0                1  88F7B33d2bcf9f5          shelby         terrell             male        elijah57@example.net  001-084-906-7849    1945-10-26     games developer                      1                      35
1                2  f90cD3E76f1A9b9         phillip         summers           female       bethany14@example.com      214-112-6044    1910-03-24      phytotherapist                      0                      62
2                3  DbeAb8CcdfeFC2c        kristine          travis             male       bthompson@example.com      277-609-7938    1992-07-02           homeopath                      1                      38
3                4  A31Bee3c201ef58         yesenia        martinez             male   kaitlinkaiser@example.com      584-094-6111    2017-08-03   market researcher                      1                      50
4                5  1bA7A3dc874da3c            lori            todd             male  buchananmanuel@example.net      689-207-3558    1938-12-01  veterinary surgeon                      1                      87

In [14]:
#- Map categorical variants (e.g.,"M"/"Male" → "Male")
print("Taking Copy of the dataframe for safety purposes\n")
CopyPeopleDataframe = database_Peoples.copy()

def peopleGenderChange(database):
    database["PeopleUserGender"] = database["PeopleUserGender"].astype(str).str.strip().str.lower()
    database["PeopleUserGender"] = database["PeopleUserGender"].replace({
    "m": "Male","male": "Male","f": "Female","female": "Female",
    "others": "Other","o": "Other"
    
})
peopleGenderChange(database_Peoples)
print("In the People Dataset After the Gender Changes Has been Completd:\n", database_Peoples[["PeopleUserGender"]].head(10).to_string())

Taking Copy of the dataframe for safety purposes

In the People Dataset After the Gender Changes Has been Completd:
   PeopleUserGender
0             Male
1           Female
2             Male
3             Male
4             Male
5             Male
6           Female
7             Male
8             Male
9             Male

In [15]:
# Fix inconsistent units (e.g., "kg"vs "lbs")

print("\n")
print(database_Peoples.head().to_string())
print("\n")
print(database_Peoples.info())
print("\n")
print(database_Peoples.shape)
print("\n")
print("The Second of the  Fix inconsistent units (e.g., kg vs lbs)\n" \
"This is Not UseFull at all for the Given Organization Dataset As there are No Attributes Depecting Metric Measurements So Not Implemented For this Particular DatasetCode Alone\n")

   PeopleUserIndex    PeopleUser_Id PeopleUserFname PeopleUserLname PeopleUserGender             PeopleUserEmail PeopleUserPhoneNo PeopleUserDob   PeopleUserJobdesc  PeopleUserGender_code  PeopleUserJobdesc_code
0                1  88F7B33d2bcf9f5          shelby         terrell             Male        elijah57@example.net  001-084-906-7849    1945-10-26     games developer                      1                      35
1                2  f90cD3E76f1A9b9         phillip         summers           Female       bethany14@example.com      214-112-6044    1910-03-24      phytotherapist                      0                      62
2                3  DbeAb8CcdfeFC2c        kristine          travis             Male       bthompson@example.com      277-609-7938    1992-07-02           homeopath                      1                      38
3                4  A31Bee3c201ef58         yesenia        martinez             Male   kaitlinkaiser@example.com      584-094-6111    2017-08-03   market researcher                      1                      50
4                5  1bA7A3dc874da3c            lori            todd             Male  buchananmanuel@example.net      689-207-3558    1938-12-01  veterinary surgeon                      1                      87


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   PeopleUserIndex         100 non-null    int64
 1   PeopleUser_Id           100 non-null    object
 2   PeopleUserFname         100 non-null    object
 3   PeopleUserLname         100 non-null    object
 4   PeopleUserGender        100 non-null    object
 5   PeopleUserEmail         100 non-null    object
 6   PeopleUserPhoneNo       100 non-null    object
 7   PeopleUserDob           100 non-null    datetime64[ns]
 8   PeopleUserJobdesc       100 non-null    object
 9   PeopleUserGender_code   100 non-null    int64
 10  PeopleUserJobdesc_code  100 non-null    int64
dtypes: datetime64[ns](1), int64(3), object(7)
memory usage: 8.7+ KB
None


(100, 11)


The Second of the  Fix inconsistent units (e.g., kg vs lbs)
This is Not UseFull at all for the Given Organization Dataset As there are No Attributes Depecting Metric Measurements So Not Implemented For this Particular DatasetCode Alone